Models:

User = {
	username
	email
	password
	customer_id
	subscription_id
	is_cancelled
	is_active
}

Question = {
	title
	question
	answer
}

api/auth/admin:
	Post : title,question,solution
	Send Email To Everyone

api/auth/register:
	Post : username,email,password

api/auth/login:
	post: email,password
	return {web token,username,subscribed}

api/auth/profile:
	return {username,is_cancelled,active}

api/questions/questions/number/
Return top 10 questions


api/questions/question/number/


api/questions/solution/number/
	check if user is subscribed


api/subscription/create
If subscription is not active
    Create session and return session id

api/subscription/cancel
If subscription is active
	Cancel subscription if is_cancelled = False

api/subscription/resume
If subscription is active
	Resume the subscription if is_cancelled = True


api/endpoints 
	Listen for create subscription
		Create customer object
		Create Subscription
		Set the is_active to True

	listen for cancel subscription
		Set the is_active to false